*, ::before, ::after { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #FFFFFF !important;
}


item-hover:hover{
    color: #ffc107 !important;
    text-decoration-style: solid;

}

img-custome {
    object-fit: cover;
    width: 375px;
    height: 210px;

}